<div class="black-border center p-2 m-2 ">
    <div class="w-100 p-3">

        <div class="time-wrapper">
            <div class=" black-border center display-wrapper w-100 m-2">
                <app-counter-displays></app-counter-displays>
            </div>
            <div class=" black-border  input-wrapper w-100 m-2">
                <app-counter-inputs></app-counter-inputs>
            </div>
        </div>
        <div class="time-wrapper">

            <div class="log-wrapper center w-100">
                <app-counter-logs></app-counter-logs>
            </div>
            <div class="status-wrapper center w-100">
                <app-counter-function-count ></app-counter-function-count>
            </div>
        </div>
    </div> 
    
</div>