<div class="container pd-10">
<div class="black-border">
    <div class="black-border">
        <div class="black-border">
            <div class="black-border">
                <div class="black-border">
                    <div class="black-border">
                        <div class="wrapper">
                            <div>
                                <marquee direction="left" width="100%">
                                    floating banner will keep roated horizontal
                                </marquee>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>