.display-container {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.timer-stats {
    display: flex;
    justify-content: center;
    align-items: center;
}
