
<div class="d-flex justify-content-center align-items-center p-4 pb-4">
    <div>
        <h3>Case Study</h3>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-dark" (click)="goToRoute('/floating-banner')">Floating Banner</button>
    <button class="btn btn-dark " (click)="goToRoute('/counter')">Count down timer</button>
    <button class="btn btn-dark" (click)="goToRoute('subject-counter')">Count down Subject</button>
</div>
<div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-dark " (click)="goToRoute('/click-me')">Click Me</button>
    <button class="btn btn-dark" (click)="goToRoute('/student-mark')">Students Mark</button>
    <button class="btn btn-dark" (click)="goToRoute('/products')">Products</button>
</div>
