.log-wrapper {
    height: 30vh;
    min-height: 30vh;
    overflow: scroll;
}
.status-wrapeer{
    height: 30vh;
    width: 50vw;
}
.time-wrapper {
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
}